# ===========================
# Default Collab Ignore Rules
# ===========================

# OS Generated
# ============
.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini

# Visual Studio / MonoDevelop generated
# =====================================
[Ee]xported[Oo]bj/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# Unity generated
# ===============
[Oo]bj/
[Bb]uild
sysinfo.txt
*.stackdump
Temp/UnityLockfile
Library/EditorInstance.json
Library/Collab/CollabSnapshot_7ec51f88-5106-44cc-bf92-03116347129a.txt
Library/Collab/CollabSnapshot_7ec51f88-5106-44cc-bf92-03116347129a.txt
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe1.log
.vs/CommunityGameJam2k19/v15/Server/sqlite3/db.lock
Assets/Materials/Levels/Level01/Walls.mat.meta
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/shadercompiler-UnityShaderCompiler.exe3.log
Library/shadercompiler-UnityShaderCompiler.exe4.log
Library/shadercompiler-UnityShaderCompiler.exe5.log
Library/StateCache/Hierarchy/6994de-3ee4e53c71485d64cb.json
Library/StateCache/Hierarchy/6994de-6eb372d866f122c4da.json
Library/StateCache/Hierarchy/6994de-a72cdc9a0a53b9543a.json
Library/StateCache/Hierarchy/9ed368-mainStage.json
Library/Collab/CollabSnapshot_7ec51f88-5106-44cc-bf92-03116347129a.txt
