# ===========================
# Default Collab Ignore Rules
# ===========================

# OS Generated
# ============
.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini

# Visual Studio / MonoDevelop generated
# =====================================
[Ee]xported[Oo]bj/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# Unity generated
# ===============
[Oo]bj/
[Bb]uild
sysinfo.txt
*.stackdump
Temp/UnityLockfile
Library/EditorInstance.json
Library/Collab/CollabSnapshot_7ec51f88-5106-44cc-bf92-03116347129a.txt
Library/Collab/CollabSnapshot_7ec51f88-5106-44cc-bf92-03116347129a.txt
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe1.log
.vs/CommunityGameJam2k19/v15/Server/sqlite3/db.lock
